#grid {
    background-size: 15px 15px;
    background-image:repeating-linear-gradient(0deg, #000, #000 1px, transparent 1px, transparent 30px), repeating-linear-gradient(-90deg, #000, #000 1px, transparent 1px, transparent 30px);

    height:100%;
    width:100%;
    opacity:0.10;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;    
}

svg {
    position: absolute;
    z-index: 0;
    left: 60px;
    top: 180px;
}

.regular {
    fill-opacity: 0;
    stroke: #59595B;
    stroke-width: 12;
}

.highlight {
    fill-opacity: 0;
    stroke: #29AAE2;
    stroke-width: 12;
}