body {
    font-family: monospace;
    font-size: 15px;
    color: #808080;
}

#grid {
    background-size: 15px 15px;
    background-image:repeating-linear-gradient(0deg, #000, #000 1px, transparent 1px, transparent 30px), repeating-linear-gradient(-90deg, #000, #000 1px, transparent 1px, transparent 30px);

    height:100%;
    width:100%;
    opacity:0.10;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;    
}

svg {
    position: absolute;
    z-index: 0;
    left: 60px;
    top: 180px;
}

.regular {
    fill-opacity: 0;
    stroke: #808080;
    stroke-width: 12;
}

.highlight {
    fill-opacity: 0;
    stroke: rgb(41, 170, 226);
    stroke-width: 12;
}

.syntax {
    color: rgb(41, 170, 226);
}

a {
    font-weight: bold;
    color: #808080;
}

a:hover {
    color: #29AAE2;
}


#links {
    position: absolute;
    left: 60px;
    top: 360px;
}

.link {
    margin-bottom: 13px;
}

#shuttleworth {
    position: absolute;
    left: 60px;
    top: 480px;
    width: 180px;
    height: auto;
}